<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>D&D Character Builder</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<div class="mainNav">
		<div th:include="header :: navBar"></div>	
		<ul class="navBarList">
			<li class="navBarItems"><a class="navBarLinks active" th:href="@{/}">Home</a></li>
			<li class="navBarItems"><a class="navBarLinks" th:href="@{/characters}">Characters</a></li>
			<li class="navBarItems"><a class="navBarLinks" th:href="@{/races}">Races</a></li>
			<li class="navBarItems" style="float: right" th:if="${user == null}"><a class="navBarLinks" th:href="@{/login}">Login</a></li>
			<li class="navBarItems" style="float: right"  th:unless="${user == null}"><a class="navBarLinks" th:href="@{/admin}">Admin</a></li>
		</ul>
	</div>
</body>
</html>