<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>D&D Character Builder</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/races.css}">

</head>
<body>
	<div class="mainNav">
		<div th:include="header :: navBar"></div>
		<ul class="navBarList">
			<li class="navBarItems"><a class="navBarLinks" th:href="@{/}">Home</a></li>
			<li class="navBarItems"><a class="navBarLinks"
				th:href="@{/characters}">Characters</a></li>
			<li class="navBarItems"><a class="navBarLinks active"
				th:href="@{/races}">Races</a></li>
			<li class="navBarItems" style="float: right" th:if="${user == null}"><a
				class="navBarLinks" th:href="@{/login}">Login</a></li>
			<li class="navBarItems" style="float: right"
				th:unless="${user == null}"><a class="navBarLinks"
				th:href="@{/admin}">Admin</a></li>
		</ul>
	</div>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver3 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100" colspan="2">Race</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="table100-body">
						<table>
							<tbody>
								<th:block th:each="race : ${races}">
									<tr class="row100 body">
										<td class="cell100 column0"><span class="glyphicon glyphicon-plus"></span></td>
										<td class="cell100 column1" th:text="${race.name}">Race</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>