<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>D&D Character Builder</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/races.css}">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<div class="mainNav">
		<div th:include="header :: navBar"></div>
		<ul class="navBarList">
			<li class="navBarItems"><a class="navBarLinks" th:href="@{/}">Home</a></li>
			<li class="navBarItems"><a class="navBarLinks" th:href="@{/characters}">Characters</a></li>
			<li class="navBarItems"><a class="navBarLinks active" th:href="@{/races}">Races</a></li>
			<li class="navBarItems"><a class="navBarLinks active" th:href="@{/classes}">Classes</a></li>
			<li class="navBarItems"><a class="navBarLinks active" th:href="@{/roller}">Dice Roller</a></li>
			<li class="navBarItems" style="float: right" th:if="${user == null}">
				<a class="navBarLinks" th:href="@{/login}">Login</a>
			</li>
			<li class="navBarItems" style="float: right" th:unless="${user == null}">
				<a class="navBarLinks" th:href="@{/admin}">Admin</a>
			</li>
		</ul>
	</div>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver3">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100">Race</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="table100-body">
						<table>
							<tbody>
								<th:block th:each="race, iterStat : ${races}">
									<tr data-toggle="collapse" class="row100 body accordion-toggle" th:attr="data-target='#row' + ${iterStat.count}">
										<td class="cell100 expandingRow">
											<span th:attr="id='iconrow' + ${iterStat.count}" class="column1 glyphicon glyphicon-plus" aria-hidden="true"></span>
											<span th:text="${race.name}">Race</span>
										</td>
									</tr>
									<tr>
										<td class="hiddenRow accordian-body collapse" th:attr="id='row' + ${iterStat.count}">
											<div th:include="raceData :: raceData"></div>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>